# テンプレートファイルを無視
*template*ReaperLangPack.txt
reaper*ReaperLangPack.txt

# パッチ本体を無視
/*.ReaperLangPack

# Notepad++ セッションファイルを無視
*.npps

# Excel ブックファイルを無視
*.xls
*.xlsx
*.xlsm
*.xlsb

# あらゆる _ignore フォルダを無視
_ignore/

# ReaPerLang のフォルダを無視（一応）
# /tool/
# /ReaPerLang/

# 他
*.zip
string_calculator.html.url
